---
---

// Changes header to Blue and updates text to be cleaner looking
*{
  font-family: Roboto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
  
  h1 {
    background: #205493;
    color: #f3f3f3;
    text-align: right;
    padding: 1rem 2rem; 
    text-shadow: 0px 2px 0px #002455;
    font: 20px/40px Roboto;
    margin: -20px;
  }

  img {
    position: relative;
    z-index: 100;
    top: -30px;
  }

  #banner {
    position: fixed;
    background: #AEB0B5;
    border: #212121;
    right: 0;
    top: 40px;
    width: 300px;
    z-index: 100;
    height: 50px;

    .button {
      font-size: 14px;
      position: relative;
      background: #205493;
      border: 0 solid #205493;
      color: #ffffff;
      border-radius: 4px;
      height: 50px;
      padding: .5em;
      margin: 1em;
      top: 1em;

      &:hover {
        background: #112e51;
      }
    }

    #GitHub {
      margin: 1.5em .5em 1.5em 1.5em;
    }

    #Slides {
      margin: 1.5em 1.5em 1.5em .5em;
    }
  }
}

a {
  color: #f3f3f3;
  font-weight: 400;
  text-decoration: none;
}

nav {
  position: fixed;
  overflow: scroll;
  text-align: left;
  width: 20%;
  height: calc(100vh - 100px); 
  left: 0;
  top: 70px;

  ul {
    list-style: none;
    list-style-image: none;
    height: 40px;
    padding: 0;
    float: left;
    margin-left:10px;

    li {
      padding: 5px 0px;
      line-height: 16px;

      &.tag-h1 {

	a {
	  font-weight: bold;
	  color: #333;
        }
      }

      &.tag-h2 {
        + .tag-h1 {
	  margin-top: 10px;
	}
	margin-left: 20px;
      }
    }

    a {
      color: #666;
      &:hover { color: #999; }
    }
  }
}

.fake {
  position: absolute;
  left: 20px;
  top: 0;
}

.wrapper {
  padding-top: 100px;
  width: 650px;
  margin: 0 auto;
  position: relative;
  overflow: auto;
  z-index: 98;
}

